<%= form_for([@user, @request]) do |f| %>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
<div class="field">
    <%= f.label :request_photos %>
    <%= f.file_field :request_photos %>
  </div>
  <div class="actions">
    <%= f.submit 'add request' %>
    <%= link_to 'home', root_path, class: 'button' %>
  </div>
<% end %>
